<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <% if (x.length>0){ %>
     <% x.forEach((i)=>{  %>
   <h1> <%= i.name %></h1>
   <h1> <%= i.laguage %></h1>
   <h1> <%= i.id %></h1>
   <h1> <%= i.bio %></h1>
   <h1> <%= i.version %></h1>

    <!-- <h1> <%= i.dateofbirth  %></h1>
   <h1>  <%= i.address  %></h1>
   <h1> <%= i.contact %></h1>
   <h1> <%= i.email  %></h1>
  <h1>  <%= i.password  %></h1> -->
<hr>
     <% } )}%>
 

 
</body>
</html>