<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/adminstyle.css">
</head>
<body>
    <h1>
        update product info


    </h1>
    <div class="container">
        <form action="/updateproduct/<%=x._id%>" method="post"  enctype="multipart/form-data">
      <div class="input"> <h2>productname</h2> <input type="text" name="productname"  value="<%= x.productname  %>"></div>
       <div class="input"><h2>prize</h2><input type="number" name="prize"  value="<%= x.prize  %>"></div>
      <div class="input"> <h2>rating</h2> <input type="number" name="rating"  value="<%= x.rating  %>"></div>
       <div class="input"><h2>description</h2> <input type="text" name="description" value="<%= x.description  %>" ></div>
      <div class="input"> <h2>stock</h2><input type="text" name="stock" value="<%= x.stock  %>" ></div>
      <div class="input"> <h2>productimage</h2><input type="file" name="productimage" value="<%= x.productimage?.filename  %>" ></div>
      <div class="input"> <h2>category</h2><input type="text" name="category" value="<%= x.category  %>" ></div>
      <button id="submitbutton" type="submit">submit</button>
     </form>
    </div>
  
</body>
</html>